/* RESET CSS */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* FIM RESET CSS */

.azul {
    display: flex;
    background-color: #106EEA;
    ;
    gap: 6.25rem;

}

.num {
    padding-left: 10%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    gap: 100px;
}

.email {
    padding-left: 10%;
    font: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 800;
    text-align: center;


}

.bar {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.banner {
    position: relative;
}

.logo2 {
    position: absolute;
    top: 190px;
    left: 70%;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}

.sub {
    position: absolute;
    top: 225px;
    left: 69%;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
}

.barra {
    display: flex;
    justify-content: space-around;
}

.bannervitral {
    height: 430px;
    width: 100%;
    z-index: 99;
}

.equipe .equip {
    width: 365px;
    height: 500px;
    margin-right: 100px;
    border-radius: 10px;
}

b {
    color: #106EEA;
    font-style: bold;
    font-weight: 700;
}

.pouco {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 0em;
    margin-left: 11%;
}

.texto {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    margin-top: 20px;
    font-size: 20px;
    margin-right: 80px;

}

.textin {
    font-family: 'Open Sans', sans-serif;
    justify-content: justify;
    margin-top: 90px;
    margin-left: 150px;
    margin-right: 200px;

}

#section .parte {
    padding-top: 50px;
    display: flex;
}

.caixas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.caixas .imagem img {
    width: 60px;
    height: auto;
    padding-bottom: 20px;
}

.caixa {
    border: 1px solid #8CA9CE;
    border-radius: 10px;
    text-align: center;
    padding: 20px 25px;
    width: 200px;
    background-color: #8ca9ce56;
    height: 200px;
}

.quantidade {
    font-family: 'Open Sans', sans-serif;
    font-size: 33px;
    font-weight: 700;
    text-align: center;
}

.legend {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

}

.textinho {
    margin-top: 220px;
}

.textinho,
.servi {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 0em;
    text-align: center;
}

.ns {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    text-align: center;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 350px;

}

.caixas2 {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-right: 120px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 1000px;
    height: 500px;
}

.caixas2 .caixa {
    background-color: white;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 50px;
    height: 150px;
    width: 210px;
    margin-bottom: 100px;
}

.frases {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

#section2 {
    border-bottom: #106EEA solid 2px;
}

.nossa,
.textinho {
    margin-top: 200px;
}

.pessoas {
    display: flex;
    text-align: center;
    margin: 50px 0;
}

.pessoa {
    border: 1px solid black;
    border-radius: 7px;
    margin: 0 50px;
    margin-left: 160px;
}

.nome {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.cargo {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
}

.textoo {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    text-align: justify;
    margin-top: 10px;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 150px;
}

#section3 {
    border-bottom: #106EEA solid 2px;
}